<h1>Sign in/Login</h1>
<p>Sign up to the website<br/>
Already a member?</p>

<%= form_for(@user) do |f| %>
  <div class="field" >
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field" >
    <%= f.label :email %>
    <%= f.text_field :email%>
  </div>
  
  <div class="actions" >
    <%= f.submit "Sign in" %>
  </div>
<% end %>
