<h1 class="center" ><center>FOOD-METER</center></h1>




<p><h4>Lose The Guilt and Gain the Knowledge of FOOD!</h4>

<p>Sign up now and start keeping track of your weight!!!</p>


<p>New user? Click <%= link_to "here", signup_path %> to sign up FREE</p>


Browse through calorie and nutritional information with this easy to use our food meter and 
learn which foods and beverages work for your waistline and which ones are not goo for you.
So turn that frankenstein in the mirror into a frank-fine!!!
</p>






<% if signed_in? %>
<h4>
<%= link_to "Carbohydrates", search_path, :class => "button round"%>

<%= link_to "Vegtables", search2_path, :class => "button round" %>

<%= link_to "Fruits", search3_path, :class => "button round"%>

<%= link_to "Dairy", search4_path, :class => "button round"%>

<%= link_to "Meats And Beans", search5_path, :class => "button round"%>
</h4>
<% end %>
<br/>





