<h1 class="center" ><center>FOOD-METER</center></h1>









<p>This is just a prototype right now. Over time this website will be developed piece by piece. 
	Users will have the ability to look up food products and see how many calories a food item contains. 
	And then store them in the users own personal database</p>
	
	<p>As of right now i have set up the footer to send users to pages that contain the right information.
		And will have a basic sign up</p>



<select id="options">
  <option value="carbohydrates">carbohydrates</option>
  <option value="vegtables">vegtables</option>
   <option value="fruits">fruits</option>
  <option value="dairy">dairy</option>
   <option value="meats and beans">meats and beans</option>

</select>



<%= link_to "carbohydrates", search_path %>

<%= link_to "vegtables", search2_path %>

<%= link_to "fruits", search3_path %>

<%= link_to "dairy", search4_path %>

<%= link_to "meats and beans", search4_path %>
<br/>




<form method="get" action="http://www.codeave.com/html/get.asp"
onsubmit="return dropdown_validator()" name="dropdown_form">

<select size="1" name="dropdown_name">
<option>Select A Letter</option>
<option value="A">A</option>
<option value="B">B</option>
<option value="C">C</option>
<option value="D">D</option>
<option value="E">E</option>
<option value="F">F</option>
</select>
<input type="submit" value="Submit">
</form>
