 <b><center><%= banner %></center></b>
 
 
 
	 <p>Milk (8oz )<br/>
	 	Calories 78
	 	</p>
	 	<p>Yogurt (6oz)<br/>
	 	Calories 60
	 	</p>
	 	
	 	 <p>Slice of cheese<br/>
	 	Calories 94
	 	</p>
	 	<p>
	 	Ice Cream Bar Caramel coated w/nuts<br/>
	 	Calories 171
	 	
	 	</p>
	 	
	 	
	 	<center><%= text_field "pressRelease", "text" %>
 <%= button_to"submit" %>
	 	
	 	<% if signed_in? %>
	 	<h4>
<%= link_to "Carbohydrates", search_path, :class => "button round"%><br/>

<%= link_to "Vegtables", search2_path, :class => "button round" %><br/>

<%= link_to "Fruits", search3_path, :class => "button round"%><br/>



<%= link_to "Meats And Beans", search5_path, :class => "button round"%><br/>
</h4></center>
<% end %>
	<header>
		