 <b><center><%= banner %></center></b>
 
 
 
	 <p>Chicken over roasted w skin (2 pices)<br/>
	 	Calories 156
	 	</p>
	 	
	 	<p>Prime Steak (3oz)<br/>
	 	Calories 221
	 	</p>
	 	
	 	<p>Peanuts (1/4 cup)<br/>
	 	Calories 50
	 	</p>
	 	
	 	
	 	
	 	
	 	<% if signed_in? %>
<%= link_to "Carbohydrates", search_path, :class => "button round"%>

<%= link_to "Vegtables", search2_path, :class => "button round" %>

<%= link_to "Fruits", search3_path, :class => "button round"%>

<%= link_to "Dairy", search4_path, :class => "button round"%>


<% end %>
	 	
	 	
	 	
	 	
	 	
	 	
	 	
	 	
	 	
	 	
	 	
	 	
	 	
	 	
	 	
	<header>