 <b><center><%= banner %></center></b>
 
 
 
	 <p>Pear (small)<br/>
	 	Calories 86
	 	</p>
	 	
	 	<p>Apple (small)<br/>
	 	Calories 63
	 	</p>
	 	
	 	<p>Banana (small)<br/>
	 	Calories 90
	 	</p>
	 	
	 	
	 	
	 	
	 	
	 	<% if signed_in? %>
<%= link_to "Carbohydrates", search_path, :class => "button round"%>

<%= link_to "Vegtables", search2_path, :class => "button round" %>



<%= link_to "Dairy", search4_path, :class => "button round"%>

<%= link_to "Meats And Beans", search5_path, :class => "button round"%>
<% end %>
	 	
	 	
	 	
	 	
	 	
	 	
	 	
	<header>