 <b><center><%= banner %></center></b>
 
 
 
	 <p>Tomato Fresh (med size)<br/>
	 	Calories 28
	 	</p>
	 	
	 	<p>Cucmuber Fresh (1/2 cup)<br/>
	 	Calories 8
	 	</p>
	 	
	 	<p>Potato baked peeled (1/2 cup)<br/>
	 	Calories 57
	 	</p>
	 	
	 	<p>Lettecue(1 cup)<br/>
	 	Calories 7
	 	</p>
	 	
	 	<center><%= text_field "pressRelease", "text" %>
 <%= button_to"submit" %>
	 	
	 	<% if signed_in? %>
	 	<h4>
<%= link_to "Carbohydrates", search_path, :class => "button round"%><br/>



<%= link_to "Fruits", search3_path, :class => "button round"%><br/>

<%= link_to "Dairy", search4_path, :class => "button round"%><br/>

<%= link_to "Meats And Beans", search5_path, :class => "button round"%><br/>
</h4></center>
<% end %>
	 	
	 	
	 	
	 	
	<header>