<footer>
	<nav class="round">
		<ul>
			<li>
				<%= link_to "Privacy", privacy_path %>
			</li>
			<li>
				<%= link_to "Contact", contact_path %>
			</li>
			<li>
				<%= link_to "Terms And Agreements", terms_path %>
			</li>
			<li>
				<%= link_to "CopyRight", copyright_path %>
			</li>
			<li>
				<%= link_to "Related Websites", related_path %>
			</li>
			
			
			
		</ul>
		</nav>
</footer>
